{% extends '@EasyAdmin/default/show.html.twig' %}
{% block main %}
    <h1> Import </h1>
    <ul>
        {% for name in file %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>
    <button onclick="importProducts()"> import</button>
{% endblock  main %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function importProducts() {
            {{ file|json_encode|raw }}.
            forEach(name => {
                $.ajax({
                    type: "GET",
                    url: `/api/runCommand/${name}`,
                    success: function () {
                        console.log("successss", 'success');
                    },
                    error: function () {
                        console.log('errorsss', 'error');
                    }
                });
            });
        }

    </script>
{% endblock %}
