version: '3'
services:
    mysql:
        image: mysql:5.7
        container_name: c-mysql
        environment:
            - MYSQL_ROOT_PASSWORD=admin
            - MYSQL_DATABASE=admin
            - MYSQL_USER=admin
            - MYSQL_PASSWORD=admin
        networks:
            sia-network:
                ipv4_address: 172.1.0.5
    mailcatcher:
        image: schickling/mailcatcher
        container_name: c-mailcatcher
        ports:
            - "2080:1080"
        networks:
            sia-network:
                ipv4_address: 172.1.0.11

    php-fpm:
        build:
            context: ./docker/php-fpm
            args:
                - INSTALL_XDEBUG=true
                - XDEBUG_REMOTE_HOST=172.1.0.1
                - XDEBUG_REMOTE_PORT=9001
                - XDEBUG_IDE_KEY=siabtp
                - UID=1001
                - GID=1001
        volumes:
            - ./symfony:/home/dell/IdeaProjects/catcoder/symfony
        networks:
            - sia-network
        container_name: c-php
        working_dir: /home/dell/IdeaProjects/catcoder/symfony
        restart: always
        expose:
            - 9001
        links:
            - mysql
            - mailcatcher
        depends_on:
          - mysql

    nginx:
        build:
            context: ./docker/nginx
            args:
                - UID=1001
                - GID=1001
        container_name: c-nginx
        restart: unless-stopped
        volumes:
            - ./symfony:/home/dell/IdeaProjects/catcoder/symfony
        working_dir: /home/dell/IdeaProjects/catcoder/symfony
        networks:
            sia-network:
                ipv4_address: 172.1.0.7
        depends_on:
            - php-fpm
        expose:
            - 80

networks:
    sia-network:
        external: true