{# extend main layout for rewrite pdf content #}
<head>
    <meta charset="UTF-8">
</head>
<page_header>
    {% block pdf_head %}
        {% block pdf_title %}

        {% endblock pdf_title %}
    {% endblock pdf_head %}
</page_header>

<div class="pdf-body" style="margin-top: 150px">
    {% block pdf_body %}

    {% endblock pdf_body %}
</div>

<page_footer>
    {% block pdf_footer %}
        @ 2019, IA BTP
    {% endblock pdf_footer %}
</page_footer>
